<!DOCTYPE html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ page.title }} – Jan Sebastian Siwy</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="/css/default.css" />

<body class="two-column right-sidebar">
<div id="page">

  <header id="branding" role="banner">
    <hgroup>
      <h1 id="site-title"><span><a href="/" title="Jan Sebastian Siwy" rel="home">Jan Sebastian Siwy</a></span></h1>
      <h2 id="site-description">Unterlagen aus dem Informatik-Studium</h2>
    </hgroup>
    <nav id="access" role="navigation">
      <div class="menu">
        <ul>
          <li><a href="/">Home</a>
          <li><a href="/projekte/">Projekte</a>
          <li class="current_page_item"><a href="/studium/">Studium</a>
          <li><a href="/impressum/">Impressum</a>
        </ul>
      </div>
    </nav>
  </header>

  <div id="main">

    <div id="primary">
      <div id="content" role="main">

        {{ content }}

      </div>
    </div>

    <div id="secondary" class="widget-area" role="complementary">
      <aside class="widget">
        <h3 class="widget-title">Seminarhomepage</h3>
        <div>
          <a href="http://www.inf.fu-berlin.de/lehre/SS04/visual/themen.html">http://www.inf.fu-berlin.de/...</a>
        </div>
      </aside>
      <aside class="widget">
        <h3 class="widget-title">Institut für Informatik</h3>
        <div>
          <a href="http://www.inf.fu-berlin.de/">http://www.inf.fu-berlin.de/</a>
        </div>
      </aside>
      <aside class="widget">
        <h3 class="widget-title">Freien Universität Berlin</h3>
        <div>
          <a href="http://www.fu-berlin.de/">http://www.fu-berlin.de/</a>
        </div>
      </aside>
      <aside class="widget">
        <h3 class="widget-title">Seminarleitung</h3>
        <div>
          <a href="http://www.inf.fu-berlin.de/inst/ag-ss/lohr.html">Prof. Dr.-Ing. Klaus-Peter Löhr</a>
        </div>
      </aside>
    </div>

  </div>

  <footer id="colophon" role="contentinfo">
    <div id="site-generator">

    </div>
  </footer>

</div>
